@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 1000;
    border-bottom: 1px solid rgb(147, 144, 144);
    background: linear-gradient(to right, #F4512C, #5E1B89);
    display: flex;
    align-items: center;
}
  
.appName {
    margin: 5px 0 0 40px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
} 