@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Montserrat:wght@400;700&display=swap&family=Lato:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins';
}
  
.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
  
.content {
    display: flex;
    margin-top: 10vh; 
    height: 90vh;
}
