body {
    margin: 0;
  }
  
.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}
  
.content {
    display: flex;
    margin-top: 10vh; 
    height: 90vh;
}
